.answers-layout {
  margin: auto;
  --yxt-font-family: var(--bolt-type-font-family-body);
}

.answers-layout .yxt-FilterOptions-legend {
  margin-bottom: 0;
}

.answers-layout .yxt-StandardCard-relatedSearch {
  margin: 10px 0;
}

.filters-and-results-layout {
  display: grid;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  grid-gap: var(--bolt-spacing-x-medium);

  > * {
    display: block;
    position: relative;
    max-width: calc(
      100vw - var(--bolt-page-padding-x) - var(--bolt-page-padding-x)
    );
  }

  @media (min-width: 37.5em) {
    grid-template-columns: 1fr calc(75% - var(--bolt-spacing-x-medium) / 3);
  }
}

// selector specificity
.answers-layout {
  --c-bolt-chip-bg-color: #{rgba(141, 142, 153, 0.16)};

  // searchbar
  .yxt-SearchBar {
    height: auto;
  }

  .yxt-SearchBar-buttonImage {
    color: var(--bolt-color-navy-light);
  }

  .yxt-SearchBar .Icon-image {
    transform: translateY(3px);
    width: 1.25rem;
    height: 1.25rem;
  }

  .yxt-SearchBar-button {
    order: 1;
  }

  .yxt-SearchBar-clear {
    order: 2;
    color: var(--bolt-color-white);
  }

  .yxt-SearchBar-clear .Icon {
    border-radius: 100%;
    background-color: var(--bolt-color-navy-light);
  }

  .yxt-SearchBar-clear:focus .Icon,
  .yxt-SearchBar-clear:hover .Icon {
    background-color: var(--bolt-color-navy);
  }

  .yxt-SearchBar-input {
    order: 2;
  }

  // nav
  .navigation-container {
    margin-bottom: 1rem;
  }

  .yxt-Nav-item.is-active {
    font-family: var(--bolt-type-font-family-body);
  }

  .yxt-Nav-item.is-active {
    color: var(--m-bolt-headline);
  }

  .yxt-Nav-item:hover {
    color: var(--m-bolt-link);
  }

  //results header
  .yxt-ResultsHeader {
    padding-left: 0;

    .yxt-ResultsHeader-resultsCount {
      font-size: var(--bolt-type-font-size-small);
      font-weight: normal;
      color: var(--m-bolt-text);
      line-height: var(--bolt-type-line-height-small);
    }
  }

  // cards
  .yxt-Card {
    margin: 0;
    padding: var(--bolt-spacing-y-medium) 0;
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--bolt-list-item-border-color, var(--m-bolt-border));

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .yxt-StandardCard-toggle {
    display: none;
  }

  // facets
  .yxt-Facets-container {
    padding: 0;
  }

  .yxt-FilterOptions-showToggle {
    font-style: normal;
    color: var(--m-bolt-link);
    text-transform: capitalize;
  }

  .yxt-FilterBox-title {
    font-family: var(--bolt-type-font-family-headline);
    font-size: var(--bolt-type-font-size-xxlarge);
    font-weight: var(--bolt-type-font-weight-bold);
    color: var(--m-bolt-headline);
    line-height: var(--bolt-type-line-height-xxlarge);
    text-transform: none;
    letter-spacing: var(--bolt-type-letter-spacing-narrow);
  }

  .yxt-FilterBox-titleContainer {
    > div {
      display: flex;
    }
  }

  .yxt-FilterOptions-legendLabel {
    font-family: var(--bolt-type-font-family-headline);
    font-size: var(--bolt-type-font-size-medium);
    font-weight: var(--bolt-type-font-weight-bold);
    color: var(--m-bolt-headline);
    line-height: var(--bolt-type-line-height-medium);
  }

  .universal-result-sections {
    .yxt-Results-titleBar {
      padding: 0;
      border: none;
      background: none;
    }

    .yxt-ResultsHeader--universal {
      border: none;
      background: none;
    }

    .yxt-Results-viewAllLink {
      border: none;
      background: none;
    }

    .yxt-Results-viewAllLabel {
      border-radius: 0 0 var(--yxt-searchbar-form-border-radius)
        var(--yxt-searchbar-form-border-radius);
    }

    .yxt-Results-titleIconWrapper {
      display: none;
    }
  }

  // Don't show a header for the knowledge panel section on the all tab.
  .yxt-Results--knowledge_panel .yxt-Results-titleBar,
  .yxt-Results--knowledge_panel [data-component="ResultsHeader"] {
    display: none;
  }
}
