<script>
  window.pega_yext.initVerticalSearch({
    apiKey: '{{ api_key }}',
    experienceKey: '{{ experience_key }}',
    businessId: '{{ business_id }}',
    experienceVersion: '{{ experience_version }}',
    verticalKey: '{{ vertical_key }}',
    docsTabActive: '{{ docs_tab_active }}',
    supportTabActive: '{{ support_tab_active }}',
    trainingTabActive: '{{ training_tab_active }}',
    marketplaceTabActive: '{{ marketplace_tab_active }}',
    blogsTabActive: '{{ blogs_tab_active }}',
    videosTabActive: '{{ videos_tab_active }}',
    knowledgePanelTabActive: '{{ knowledge_panel_tab_active }}',
    tabAllUrl: '{{ tab_all_url }}',
    tabDocsUrl: '{{ tab_docs_url }}',
    tabSupportUrl: '{{ tab_support_url }}',
    tabTrainingUrl: '{{ tab_training_url }}',
    tabMarketplaceUrl: '{{ tab_marketplace_url }}',
    tabBlogsUrl: '{{ tab_blogs_url }}',
    tabVideosUrl: '{{ tab_videos_url }}',
    tabKnowledgePanelUrl: '{{ tab_knowledge_panel_url }}',
  });
</script>
